$green-color: #91fa9b;
$dark-color: #454969;

@mixin button-base {
    height: 40px;
    border-radius: 5px;
    line-height: 38px;
    border: 1px solid transparent;
    text-decoration: none;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 20px;
    }
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 300;
    letter-spacing: .6px;
    background: $dark-color;
    color: #fff;
    margin: 0 0 80px;

    #root .hide {
        display: none;
    }
}

h1 {
    font-size: 48px;
    font-family: "Rowdies", sans-serif;

    @media (max-width: 480px) {
        font-size: 36px;
    }
}
  
.nav {
    background: $green-color;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-color;
    position: sticky;
    top: 0;

    @media (max-width: 480px) {
        padding: 20px;
    }

    .home-logo-link {
        text-decoration: none;
        color: $dark-color;
    }

    .logo {
        font-family: "Rowdies", sans-serif;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
        border: 2px solid $dark-color;
    }

    .nav-links {
        display: flex;

        @media (max-width: 480px) {
            flex-direction: column;
        }

        .link {
            @include button-base;
            background: $dark-color;
            color: #fff;
            width: 120px;
            
            &:hover {
                background: #fff;
                color: $dark-color;
                border-color: $dark-color;
            }

            @media (max-width: 480px) {

                &:not(:last-child) {
                    margin-bottom: 10px;
                    margin-right: 0;
                }
            }
        }
    }
}

.list {

    max-width: 1440px;
    margin: 80px 40px 0;

    @media (max-width: 480px) {
        margin: 60px 30px 0;
    }

    .sort-links {
        display: flex;
        justify-content: center;
        margin-top: 40px; 
        flex-wrap: wrap;

        .sort-link {
            @include button-base;
            background: $green-color;
            color: $dark-color;
            width: 160px;
            margin-top: 10px;

            &:hover {
                background: #fff;
                border-color: $green-color;
            }

            &.selected {
                background: #fff;
            }

            @media (max-width: 599px) {
                margin: 10px;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
        
        
    }

    .list-wrapper {
        margin-top: 20px;
    }

    .list-nav {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}

.list-row {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;

    .link {
        color: $green-color;
        margin-left: 10px; 
    }

    span.margin-left {
        margin-left: 10px;
    }
}

.list-nav {

    .arrow {
        display: flex;
        cursor: pointer;
        border-bottom: 1px solid #fff;
        padding-bottom: 7px;

        &:hover {
            border-width: 3px;
            padding-bottom: 5px;
        }
    }

    .list-nav-icon {
        margin: 2px 10px 0;
    }

    .page-num {
        margin: 0 20px;
    }
}

.publishers-page {

    margin-top: 80px;

    @media (max-width: 480px) {
        margin: 60px 30px 0;
    }

    p {
        margin-bottom: 40px;
    }

    .link {
        color: $green-color;
        display: block;
        margin-bottom: 20px;
    }
}