$green-color: #91fa9b;
$dark-color: #454969;

@mixin button-base {
    height: 40px;
    border-radius: 5px;
    line-height: 38px;
    border: 1px solid transparent;
    text-decoration: none;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 20px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1 }
}

body {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 300;
    letter-spacing: .6px;
    background: $dark-color;
    color: #fff;
    margin: 0 0 240px;

    #root .hide {
        display: none;
    }
}

body * {
    animation: fadeIn 1s;
}

.link, .sort-link, button, .play-button-icon, .arrow {
    transition: all 250ms;
}

h1 {
    font-size: 48px;
    font-family: "Rowdies", sans-serif;

    @media (max-width: 480px) {
        font-size: 36px;
    }
}
  
.nav {
    background: $green-color;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-color;
    position: sticky;
    top: 0;

    @media (max-width: 480px) {
        padding: 20px;
    }

    .home-logo-link {
        text-decoration: none;
        color: $dark-color;
    }

    .logo {
        font-family: "Rowdies", sans-serif;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
        border: 2px solid $dark-color;
    }

    .nav-links {
        display: flex;

        @media (max-width: 480px) {
            flex-direction: column;
        }

        .link {
            @include button-base;
            background: $dark-color;
            color: #fff;
            width: 120px;
            
            &:hover {
                background: #fff;
                color: $dark-color;
                border-color: $dark-color;
            }

            @media (max-width: 480px) {

                &:not(:last-child) {
                    margin-bottom: 10px;
                    margin-right: 0;
                }
            }
        }
    }
}

.list {

    max-width: 1440px;
    margin: 80px auto 0;
    padding: 0 40px;

    @media (max-width: 480px) {
        margin: 60px auto 0;
        padding: 0 30px;
    }

    .sort-links {
        display: flex;
        justify-content: center;
        margin-top: 40px; 
        flex-wrap: wrap;

        .sort-link {
            @include button-base;
            background: $green-color;
            color: $dark-color;
            width: 160px;
            margin-top: 10px;

            &:hover {
                background: #fff;
                border-color: $green-color;
            }

            &.selected {
                background: #fff;
            }

            @media (max-width: 599px) {
                margin: 10px;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }

    .ensemble-count {
        animation: fadeIn 1750ms;
    }

    .list-wrapper {
        margin-top: 20px;
    }

    .list-nav {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}

#media-iframe {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background: transparent;

    &.youtube-iframe {
        width: 300px;
        height: 200px;
    }
}

.mp3-player {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100px;
    border-radius: 0;
}

.list-row {
    padding: 20px 0;
    // animation: fadeIn 1s;
    
    > div {
        padding-bottom: 5px;
    }

    .title {
        font-weight: bold;
    }

    .link {
        color: $green-color;
        // margin-left: 10px; 
    }

    span.margin-left {
        margin: 0 10px;
    }

    .play-button-icon {
        width: 2em;
        height: 2em;
        cursor: pointer;

        &:hover {
            fill: $green-color;
        }
    }
}

.list-nav {

    .arrow {
        display: flex;
        cursor: pointer;
        border-bottom: 1px solid #fff;
        padding-bottom: 7px;

        &:hover {
            border-width: 3px;
            padding-bottom: 5px;
        }
    }

    .list-nav-icon {
        margin: 2px 10px 0;
    }

    .page-num {
        margin: 0 20px;
    }
}

.filters-container {
    display: flex;
    justify-content: center;

    .filters {
        display: flex;
        flex-direction: column;
        width: 180px;
        justify-content: center;
        margin: 40px 10px 0;
        position: relative;
    
        .selected-filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fff;
            color: $dark-color;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    
        .filter-options {
            background: #fff;
            color: $dark-color;
            border-radius: 5px;
            position: absolute;
            top: 50px;
            width: 180px;
            text-align: left;
            box-shadow: 0 0 10px 0 $dark-color;
            z-index: 2;
            // max-height: 200px;
            // overflow-y : scroll;
    
            .filter-option {
                padding: 10px;
                transition: all 250ms;
                cursor: pointer;
    
                &:not(:last-child) {
                    border-bottom: 1px solid $dark-color;
                }
    
                &:hover {
                    background: $green-color;
                }
            }
        }
    }
}

.publishers-page {

    margin-top: 80px;

    @media (max-width: 480px) {
        margin: 60px 30px 0;
    }

    p {
        margin-bottom: 40px;
    }

    .link {
        color: $green-color;
        display: block;
        margin-bottom: 20px;
    }
}

.search-bar {
    margin-top: 40px;

    button {
        margin-left: 10px;
        height: 30px;
        width: 100px;
        border-radius: 5px;
        background: #fff;
        color: $dark-color;
        border: none;
        cursor: pointer;

        &:hover {
            background: $green-color;
        }
    }

    input {
        width: 250px;
        height: 30px;
    }
}